/* General Properties */
*{
    margin: 0px;
    padding: 0px;
    font-family:'Segoe UI', Tahoma, 
        Geneva, Verdana, sans-serif
}
.row-box{
    display:flex;
    align-items: center;
    justify-content:center;
}
.column-box{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
}
.pic-hover:hover{
    opacity:0.9;
    cursor:pointer;
}
.zoom:hover {
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02); 
}

/* Body */
body{
    position: relative;
    background-color:#f0f2f5;
    height:100%;
}

a{
    text-decoration: none;
}

/* Scrollbar */
.left-side-bar::-webkit-scrollbar,
.right-side-bar::-webkit-scrollbar,
.stories-row-box::-webkit-scrollbar,
.people-card-row::-webkit-scrollbar{
    width:0px;
    height:0px;
}
.middle-content::-webkit-scrollbar{
    width:8px;
}
.left-side-bar::-webkit-scrollbar-thumb,
.right-side-bar::-webkit-scrollbar-thumb,
.stories-row-box::-webkit-scrollbar-thumb,
.people-card-row::-webkit-scrollbar-thumb,
.middle-content::-webkit-scrollbar-thumb{
    background-color: #9e9797;
    border-radius: 10px;
}
.left-side-bar:hover.left-side-bar::-webkit-scrollbar{
    width:8px;
}

/* Row Item Hover */
.item-row:hover{
    background-color: #dfdede;
    cursor:pointer;
    border-radius:10px;
}


/* Header */
header{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width:100%;
    box-shadow: 1px 2px 2px rgba(0,0,0,0.1);
    border:none;
}

/* Header - Left Section */
.logo-search-box{
    padding: 5px;
    flex:1;
}

.logo-search-box img{
    width:42px;
    border: none;
    padding-right:7px;
    padding-left:12px;
}

.search-box{
    padding:2px;
    border-radius:50px;
    border:none;
    background-color: rgb(235, 240, 240);  
}

.search-box input{
    color:rgb(0, 0, 0);
    background-color: transparent;
    width:200px;
    border:none;
    font-size: 14px;
    padding-top: 5px;    
    padding-bottom: 5px;
}

.search-icon-box{
    width:15px;
    height:15px;
    overflow: hidden;
    padding-right: 16px;
    padding-left: 2px;
}

.grey-filter{
    filter: invert(39%) sepia(16%) 
    saturate(254%) hue-rotate(174deg)
    brightness(96%) contrast(93%);
}
.search-icon-box img{
    object-position: 50% -180px;
    width:100%;
}

/* Header - Middle Section */
.icon-button-tabs {
    flex:2;
    padding-left:18px;
}
.icon-button-tabs button{
    padding: 0px 55px;
    border: none;
    background-color: white;
    margin:3px 3px 1px 3px;
    border-radius:15px;
    cursor:pointer;
}

.icon-button-tabs button:hover{
    background-color: #f5f5f5;
}

.icon-button-tabs button::after{
    content:'';
    width: 0%;
    height: 3px;
    margin-top: 3px;
    background: #0e65d6;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.icon-button-tabs .hover-dash::after{
    content:'';
    width: 500%;
    height: 3.5px;
    margin-top: 3px;
    background: #0e65d6;
    display: block;
    margin: auto;
    transition: 0.3s;    
    translate: -40% 0%;
}

.icon-button-tabs button:hover::after{
    width: 500%;
    translate: -40% 0%;
}

.icon-button-tabs i{
    margin:0;
    font-size:21px;
    color: #65676b;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom:15px;
    margin-top:15px;
}
.icon-button-tabs .i1{
    color:#1b74e4;
}

.icon-button-tabs button:hover i{
    color:#1b74e4;
}

/* Header - Right Section */
.profile-icons {
    padding: 5px;
    display:flex;    
    flex:1;
    justify-content: end;
    padding-right: 10px;
    align-items: center;
}

.profile-pic-img{
    width:40px;
    padding-right:6px;
    padding-left:5px;
}
.profile-pic-img img{
    width:100%;
    border-radius: 50%;
}

.profile-icons button{
    border: none;
    padding:12px;
    border-radius: 100%;
    background-color: #e4e6eb;
    margin:0px 3px;
    text-align: center;
}

.profile-icons i{
    margin:0;
    font-size:18px;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}
.profile-icons button:hover{
    background-color: #c9cbcd;
}
.notification-icon-box{
    position: relative;
}
.notification-icon-box p{
    position: absolute;
    right:0px;
    top:-5px;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 500;
    color: white;
    background-color: red;
    padding: 0px 5px 1px 5px;
}

/* ------------ ------------ */

/* Main Body */
.main-body{
    display:flex;
    height: 95vh;
    width: 100%;
    padding-top:55px;
    background-color: #e9eaeb;
}

/* Left Side Bar */
.left-side-bar{
    flex:1;
    padding: 20px 7px;
    padding-bottom: 0;
    height:92vh;
    overflow: scroll;
}

/* Side Menu */
.side-menu{
    display: flex;
    flex-direction: column;
    padding:3px;
    padding-bottom:10px;
    height:45vh;
    justify-content: space-between;
    
    overflow:hidden;
}
.side-menu-item{
    display:flex;
    padding:3px;
    align-items: center;
}

    /* Menu Icon Image Item */
.menu-icon-box{
    width:40px;
    height:40px;
    overflow: hidden;
    text-align: center;
}
.side-menu-item img{
    width:100%;
}
.side-menu-item .icon-friends{
    object-position: 50% -320px;
}
.side-menu-item .icon-pages{
    object-position: 50% -117px;
}
.side-menu-item .icon-mostrecent{
    object-position: 50% -476px;
}
.side-menu-item .icon-groups{
    object-position: 50% -76px;
}
.side-menu-item .icon-marketplace{
    object-position: 50% -437px;
}

.menu-icon-box-i{
    width: 33px;
    height:33px;
    text-align: center;
    background-color: #dfe2e7;
    border-radius: 100%;
    margin-right:4px;
    margin-left:3px;
}
.menu-icon-box-i i{
    padding-top:10px;
    font-size:14px;
}

    /* Menu Profile Image Item */
.side-menu-item .profile-pic-box{
    width:38px;
    height:38px;
}
.side-menu-item .profile-img{
    border-radius: 100%;
}

.side-menu-item h4{
    padding:1px 12px;
    font-weight: 600;
    font-size:15px;
    color:#050505;
}

.left-side-bar hr{
    height:1px;
    width:95%;
    background-color:#65676b5e;
    border:none;
    margin:5px;
}
.left-side-bar h5{
    color:#6f6f71;
    font-weight:600;
    margin-top:12px;
    margin-left:3px;
    font-size:17px;
}
/* ------------ ------------ */

/* Side Shortcuts */
.side-shortcuts{
    display: flex;
    flex-direction: column;
    padding:5px 3px 0px 3px;
    height:40vh;
    justify-content: space-between;
    overflow: hidden;
}
.shortcut-item{
    display:flex;
    padding:3px;
    align-items: center;
}
.shortcut-item .shortcut-img-box{
    width:35px;
    height:35px;
    border-radius: 50%;
    overflow: hidden;
}
.shortcut-item .shortcut-img{
    width:100%
}
.shortcut-item h4{
    padding:1px 12px;
    font-weight: 600;
    font-size:15px;
    color:#050505;
}
.shortcut-item .menu-icon-box-i{
    margin-right:1px;
}

.left-side-bar p{
    color:#838383;
    font-weight:400;
    margin-top:12px;
    margin-left:3px;
    font-size:13px;
}
.left-side-bar .p1{
    color:#838383;
    font-weight:600;
    margin-top:15px;
    margin-left:7px;
    margin-right:2px;
    font-size:17px;
    writing-mode: vertical-rl;
}

.side-footer{
    display:flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    line-height:5px;
}
.side-footer a:hover p{
    text-decoration: underline;
}
/* ------------ ------------ */

/* Middle Content */
.middle-content{
    flex:2;
    /* background-color: #1be42c; */
    margin:15px 30px 0px ;
    padding: 0px 2px 30px 2px;
    max-width:700px;
    /* overflow-y:scroll; */
    overflow-x:hidden;
}
.middle-box{
    background-color: white;
    border-radius:10px;
    margin-top:15px;
}
.middle-hr{
    height:1px;
    width:100%;
    background-color:#65676b5e;
    border:none;
    margin:1px;
}
.middle-shadow{
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
;}

/* Stories */
.stories-box{
    padding: 0px 0px;
}
.stories-tab-box{
    width: 95%;
    padding:0px 20px;
    margin:0px 10px;
    
}
.stories-tab-box button{
    padding: 10px 55px;
    border: none;
    margin:3px 3px 1px 3px;
    border-radius:5px;
    cursor:pointer;
    width:100%;
    flex-wrap: wrap;
    height:45px;
    background-color: white;
}
.stories-tab-box p{
    text-align:center;
    color: #65676b;
    font-weight: 500;
    font-size: 15px;
    margin-bottom:2px;
    margin-left:8px;
    transition: 0.3s;
}

.stories-tab-box button:hover{
    background-color: #f5f5f5;
}

.stories-tab-box button::after{
    content:'';
    width: 0%;
    height: 3px;
    margin-top: 9px;
    background: #0e65d6;
}
.stories-tab-box .hover-dash{
    background-color: white;
}
.stories-tab-box .hover-dash::after{
    content:'';
    width: 200%;
    margin-top: 9px;
    background: #0e65d6;
}

.stories-tab-box button:hover::after{
    width: 100%;
}  
.stories-tab-box i{
    font-size:21px;
    color: #65676b;
    cursor: pointer;
    transition: 0.3s;
}
.stories-tab-box .i1{
    color:#1b74e4;
}

.stories-tab-box button:hover i,
.stories-tab-box button:hover p {
    color:#1b74e4;
}

/* Stories Horizontal Scroll Row */
.stories-row-box{
    margin:10px 0px 20px 0px;
    justify-content: flex-start; 
    width: 690px;
    overflow: scroll;
    overflow-y: hidden;
    padding:10px;
}
.story-card{
    margin: 0px 10px;
    min-width:111px;
    max-width:112px;
    border-radius: 10px;
    height:200px;
    position: relative;
    transition:0.3s;
}
.story-avatar-box{
    width:35px;
    height:35px;
    position: absolute;
    top:10px;
    left:10px;
    border-radius:50%;
    border: 4px solid #1b74e4;

}
.story-avatar-box img{
    width:100%;
    border-radius:50%;
}
.story-img-box{
    background-color: #1b4c8b;
    overflow:hidden;
    border-radius: 10px;
    height: 100%;
} 
.story-img-box img{
    width:150%;
    border-radius: 10px;
    object-position: 10px -5px;
}
.storytext-box{
    position: absolute;
    bottom:10px;
    left:10px;
    width:100px;
    z-index:3;
}
.storytext-box p{
    color:white;
    font-size:13px;
    font-weight:500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.storytext-box .p1{
    color:black;
    margin-left:10px;
}
.story-create-box .p2{
    font-size:28px;
    color:white;
    font-weight:500;
    margin-bottom:6px;
    
}
.story-create-box{
    position: absolute;
    bottom:40px;
    left:35px;
    width:100px;
    border:3px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #1876f2;
    align-items: center;
    z-index:2;
}
.create-story {
    background-color: white;
}
.story-text-bg-box{
    position: absolute;
    bottom:0px;
    width: 100%;
    height: 60px;
    background-color: white;
    z-index:1;
}



/* Post Content */
.post-box .top-section img{
    width:40px;
    height:40px;
    border-radius:100%;
    margin-right:10px;
}
.post-box .top-section input{
    padding: 7px 5px 7px 12px;
    font-size:17px;
    border-radius:50px;
    border:none;
    background-color: #f0f2f5;
    width:100%
}
.top-section{
    margin:10px;
    padding:5px;
    width:95%;
    justify-content: left;
}
.post-box hr{
    width:95%;
}
.post-button{
    border:none;
    background-color: white;
    margin:3px 5px;
    padding:7px 30px;
    border-radius:10px;
    transition: 0.3s;
    cursor:pointer;
}
.post-button:hover{
    background-color: rgb(238, 238, 238);    
}
.post-button img{
    height:25px;
    width:25px;
}
.post-button p{
    font-size: 14px;
    font-weight:500;
    margin-left:8px;
    color:#65676b;
}

/* People you may know */
.tiltle-section{
    justify-content: space-between;
    width:95%;
    padding:10px 5px;
}
.tiltle-section p,i{
    font-size:17px;
    color: #65676b;
    font-weight:500;
}
.tiltle-section i{
    font-size:20px;   
}
.people-card-row{
    justify-content: flex-start;
    width:95%;
    overflow: scroll;
    overflow-y: hidden;
    padding:0px 2px;
}
.people-card{
    width:200px;
    border-radius:10px;
    padding-bottom:12px;
    margin-bottom:10px;
    margin-right:15px;
    transition: 0.3s;
}
.people-card img{
    border-radius: 10px 10px 0px 0px;
    transition: 0.3s;
    cursor:pointer;
    width:110%;
    
}
.people-card img:hover{
    transform: scale(1.02);
}

.people-card h3{
    font-size:18px;
    font-weight:500;
    padding: 2px 13px;
    width: 90%;
    text-align: start;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.people-card p{
    font-size:17px;
    color: #65676b;
}
.people-card .mutual{
    height:18px;
    width:18px;
    border-radius:50%;
    border:2px solid #fff;
}
.people-card .m1{
    margin-left:-10px;
}
.people-card .mutual-p{
    font-size:15px;
    padding:5px 20px 5px 5px;
    margin-bottom:6px;
}
.people-card .mutual-button{
    background-color: #e7f3ff;
    color: #1877f2;
    font-size: 15px;
    font-weight:600;
    width:80%;
    border-radius: 5px;
    padding: 7px;
    margin:10px;
}
.people-card .mutual-button i{
    color: #1877f2;
    margin-right:2px;
}

.people-know-box button{
    color:#1877f2;
    font-weight:600;
    font-size:15px;
    background-color: white;
    border:none;
    width:95%;
    padding:8px 0px;
    transition: 0.3s;
    border-radius: 10px;
    margin-bottom:10px;
    cursor: pointer;
}
.people-know-box button:hover{
    background-color: rgb(236, 236, 236);
}

/* Post 1 */
.title-section{
    padding: 5px 10px;
    width:95%;
    justify-content: flex-start;
}
.title-section img{
    width:40px;
    height:40px;
    border-radius:100%;
}
.title-actions-box{
    /* width: 100%; */
    flex: 1;
    justify-content: right;
}
.title-actions-box i{
    margin-left:5px;
    font-size: 23px;
    color: #65676b;
    padding: 10px;
    border-radius: 100%;
    cursor:pointer;
    transition:0.3s;
    margin-left:0px;
}
.title-section i:hover{
    background-color: #ededed;
}
.title-box{
    align-items: start;
    padding: 5px;
    margin-left:5px;
}
.title-box p{
    color: #65676b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.title-box strong{
    color: black;
    font-weight:500;
}
.time-box{
    margin-top: 2px;
}
.title-box .time-box p{
    color: #65676b;
    font-size: 13px;;
}
.title-box .time-box i{
    margin-left:5px;
    font-size: 12px;
    color: #65676b;
}
.post-img1-box{
    background-color: chocolate;
    justify-content: center;
}
.post-img1-box img{
    width: 100%;
}
.like-info-section{
    justify-content: left;
    width:95%
}
.like-info-section img{
    height:18px;
    width:18px;
    margin:10px 5px;
}
.like-info-section p{
    color: #65676b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-weight:400;
}
.like-info-section p:hover{
    text-decoration: underline;
}
.post-1-box hr,
.post-2-box hr,
.post-3-box hr{
    width:95%;
}
.react-button{
    border:none;
    background-color: white;
    margin:3px 5px;
    padding:7px 80px;
    border-radius:5px;
    transition: 0.3s;
    cursor:pointer;    
    font-size: 15px;
    font-weight:500;
    color:#65676b;
}
.react-button:hover{
    background-color: rgb(238, 238, 238);    
}
.react-button-img-box{
    height:25px;
    width:30px;
    overflow: hidden;
}
.react-button img{
    filter:invert(40%) sepia(1%) saturate(2259%) 
        hue-rotate(130deg) brightness(103%) 
        contrast(100%);
    width:100%;
}
.react-button .img1{
    object-position: 50% -270px;
}
.react-button .img2{
    object-position: 50% -224px;
}
.comment-section{
    width:95%;
    justify-content: left;
    padding:10px;
}
.comment-box{
    flex:1;
    background-color: #f0f2f5;
    border-radius:20px;
    padding:8px 10px;
    margin:0px 5px;
}
.comment-box input{
    border:none;
    background-color: transparent;
    font-size:15px;
    width: 100%;;
}
.comment-profile-pic{
    width:35px;
    height:35px;
    border-radius:100%;
    cursor:pointer;
}
.comment-button-img-box{
    border:none;
    padding:4px 2px 3px 2px;
    border-radius:50%;
    transition: 0.3s;
    cursor:pointer;    
    font-size: 15px;
    font-weight:500;
    color:#65676b;
    margin:0px -2px;
}
.comment-button-img-box:hover{
    background-color: rgb(232, 232, 232);    
}
.comment-button-img-box{
    height:18px;
    width:28px;
    overflow: hidden;
}
.comment-button-box img{
    filter:invert(40%) sepia(1%) saturate(2259%) 
        hue-rotate(130deg) brightness(103%) 
        contrast(100%);
    width:100%;
    margin-left:5px;
}
.comment-button-box .img1{
    object-position: 50% -317px;
}
.comment-button-box .img2{
    object-position: 50% -452px;
}
.comment-button-box .img3{
    object-position: 50% -375px;
}
.comment-button-box .img4{
    object-position: 50% -492px;
}
.comment-button-box .img5{
    object-position: 50% -608px;
}

/* Post 2 */
.post-2-box .title-section img{
    border:3px solid white;
    margin:auto;
    margin-bottom:-4px;
}
.avatar-img-box{
    border-radius: 100%;
    border:3px solid #1b74e4;
    height: max-content;
}
.like-info-section .img-2{
    border: 2px solid white;
    border-radius: 100%;
    margin-left:-10px;
}

/* Post 3 */
.post-3-box .react-button .img1{
    object-position: 50% -247px;
    filter:invert(36%) sepia(95%) 
        saturate(931%) hue-rotate(185deg) 
        brightness(96%) contrast(97%);
}
.post-3-box .p1{
    color: #1b74e4;;
}
.post-comment{
    padding: 15px;
    padding-bottom: 2px;;
}





/* ------------ ------------ */

/* Right Side Bar */
.right-side-bar{    
    flex:1;
    padding: 10px 7px;
    padding-bottom: 0;
    height: 92vh;
    overflow: scroll;
}

.right-side-bar h5{
    color:#6f6f71;
    font-weight:600;
    margin-top:12px;
    margin-left:3px;
    font-size:17px;
}

.side-pages{
    display: flex;
    flex-direction: column;
    padding:5px 3px 0px 3px;
    height:23vh;
    justify-content: space-between;
    overflow:hidden;
}
.side-pages h5{
    color:#6f6f71;
    font-weight:600;
    font-size:13px;
    margin-left:10px;
    margin-bottom:13px;
}
.right-side-item{
    display:flex;
    padding:3px;
    align-items: center;
}
.right-side-item .right-side-box{
    width:35px;
    height:35px;
    border-radius: 50%;
    overflow: hidden;
}
.right-side-item .right-side-img{
    width:100%
}
.right-side-item h4{
    padding:1px 12px;
    font-weight: 600;
    font-size:15px;
    color:#050505;
}
.right-side-bar hr{
    height:1px;
    width:95%;
    background-color:#65676b5e;
    border:none;
    margin:5px;
}
.page-setting-item{
    display:flex;
    align-items: center;
    text-align: center;
    padding-left: 20px;;
}
.page-setting-item i{    
    color:#838383;
    font-size:18px;
}
.birthday-item{
    display:flex;
    padding:10px;
}
.birthday-item h4{
    font-weight: 400;
    font-size: 15px;
    padding: 0px 10px
}
.birthday-icon-box{
    width:45px;
    height:30px;
    overflow: hidden;
    text-align: center;
}

.birthday-icon{
    width:100%;
    object-position: 50% 6px;
    margin-top: -5px;
}
.contact-title-bar{
    display: flex;
    align-items:center;
}
.contact-title{
    flex:2;
    padding-left: 3px;
}
.contact-title h5{
    margin:auto;
}
.contact-icon-bar{
    display:flex;
    align-items:center;
    flex:1;
    padding-right:5px;
}
.contact-title-bar i{
    color:#838383;
    padding:9px;
    background-color: transparent;
    border-radius:100%;
    font-size:14px;
    margin-left:7px;
    transition:0.3s;
}
.contact-title-bar i:hover{
    background-color: rgb(215, 212, 212);
}
.right-side-bar .side-menu-item{
    margin-top:10px;
    padding:10px 5px;
}
.right-side-bar .side-menu-item i{
    font-size:17px;
    margin-top:-2px;
}
.float-btn-container{
    position:absolute;
    bottom:20px;
    right:20px;
}
.float-btn{
    padding:14px;
    border-radius: 100%;
    background-color: white;
    border:none;
    box-shadow:4px 3px 4px rgba(0,0,0,0.1);
    text-align: center;
    transition:0.3s;
    cursor: pointer;
}
.float-btn:hover{
    background-color: rgb(221, 220, 220);
}
.float-btn i{
    font-size:20px;
    margin-left:3px;
}

.contacts{
    opacity:0.5
    /* background-color: #14073d; */
}
.contact-item{
    display:flex;
    padding:7px;
    align-items: center;
}
.contact-item .contact-pic-box{
    width:38px;
    height:38px;
    border-radius: 50%;
    overflow: hidden;
}
.contact-item .contact-img{
    width:100%;
}
.contact-item h4{
    padding:1px 12px;
    font-weight: 600;
    font-size:15px;
    color:#050505;
}